/* import google font */
@import
url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
/* Reset CSS */
* {
 margin: 5;
 padding: 5;
}
form p > label {
    display: inline-block;
    width: 100px;
}
form input[type="text"], form textarea {
    border: 1px solid #ef0404;
}
form input[type="submit"] {
    border: 1px solid #3e0cf2;
    background-color: #e3434e;
    color: #3d0af5;
    font-weight: bold;
    padding: 5px 15px;
}
body {
    line-height:1;
    font-size:100%;
    font-family:'Open Sans', sans-serif;
    color:#5a5a5a;
   }
/* header */
header {
    padding: 20px;
   }
   header h1 {
    margin: 20px 10px;
    color: #b5b5b5;
   }